<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gem.com.support_client">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".screen.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screen.billing.allincome.AllIncomesFragment"></activity>
        <activity android:name=".screen.splash.SplashActivity"></activity>
        <activity
            android:name=".screen.billing.companybills.CompanyBillsActivity"
            android:parentActivityName=".screen.main.MainActivity"></activity>

        <activity android:name=".screen.billing.companyinfo.CompanyInfoActivity"></activity>

        <activity android:name=".screen.feedback.feedbackdetail.FeedbackDetailActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".screen.feedback.userdetail.UserDetailActivity" android:theme="@style/AppTheme.NoActionBar"></activity>


    </application>

</manifest>
